<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2> Card Page </h2>
            <h5 class="card-title"> Name: {{ gpu.name }} </h5>
            <img src="..." class="card-img-top" alt="...">
            <p class="card-text"> Price: {{gpu.price}} </p>
            <p><a href="{{ gpu.link }}"> find here </a></p>
            <a href="javascript:window.history.back();" class="btn btn-primary">Go back</a>
        </div>
    </div>

</body>
</html>